<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/index.css/">
  <title>Document</title>
</head>
<body scroll="no" style="overflow: hidden">
  {%if request.user.is_authenticated%} 
  <div class="Header">
    <div class="Header__Left">
      <h3>DEV-Talk</h3>
    </div>

    <div class="Header__Center">
      <!-- Nav Links -->

      <a href="/profile/{{request.user.id}}/">
        <button><strong>{{request.user.username}}</strong></stron></button>
      </a>
      <a href="/uploads/"><button><strong>+Add</strong></button></a>
      <button><a href="/notification/"><strong>Notifications:{{notifs}} </strong></a></button>

      <a href="/users/">
        <button><strong>People</strong></button>
      </a>
    </div>

    <div class="Header__Right">
      <!-- Logout Button -->
      <a href="/logout/"><button>Logout</button></a>
    </div>
  </div>
  <div class="container">

    <div class="Feed">
      {% for post in posts %}
      <div class='Post'>

        <div class="post_header">
          <p>posted by <a href="/profile/{{post.author.id}}/">{{post.author}}</a> on {{post.created_at}}</p>
        </div>
        <img src="/media/{{post.image}}/" alt='post-img' style="width: 200px;" />
        <div class="post_caption">
          <p>{{post.caption}}</p>
        </div>
        <div>
          <button><a href='/comment/{{post.id}}/add'> Comment Here </a></button>

          <a href="/uploads-like/{{post.id}}/"><button>❤{{post.likes.count}}</button></a>

        </div>
        {% for comment in post.comments.all %}
        <div>
          {%if request.user.id == post.author.id%}
          <a href="/comment/{{comment.id}}/remove/"><button class="delete">X</button></a>
          {%endif%}
          <p>{{comment.body}}
            {{comment.sender}} {{comment.time}}</p>
        </div>
        {% endfor %}
       
   </div>
 
    {%else%}
    <div class="Header">
      <div class="Header__Left">
        <h3>DEV-Talk</h3>
      </div>

    <!-- <div class="Header__Center"> -->
        <!-- Nav Links -->
        
        
    </div>

    <!-- <div class="Header__Right"> -->
        
        <!-- <a href="/login/"><button>Login</button></a>
        <a href="/signup/"><button>Signup</button></a> -->
    </div>
   </div>

  
    <!-- <h1>Welcome to DevTalk</h1> -->
    <!-- <embed type="video/mp4" src="/media/images/{{video}}/" width="400" height="300">   -->

   <div class="video-container">
       <video controls autoplay=true class="landingvideo">
              <source src="/media/images/{{video}}/" type="video/mp4">
              
          </video>
      </div>
    </div>  

  <div id='wrapper'>
    <!-- <fieldset> -->
      <!-- <h2>Buttons!</h2> -->
      <a class='glowBtn'>Log In</a>
      <a class='glowBtn hover'>Sign Up</a>
      <a class='glowBtn active'>Activate Homepage</a>
    <!-- </fieldset> -->
  


    <!-- <iframe width="420" height="315"
src="https://www.youtube.com/embed/tgbNymZ7vqY">
</iframe> -->
    






   {%endif%}
</body>

</html>