{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/index.css/">
  <title>Document</title>
</head>

<body >
  {%if request.user.is_authenticated%}
  <div class="Header">
    <div class="Header__Left">
      <h3>DEV-Talk</h3>
    </div>

    <div class="Header__Center">
      <!-- Nav Links -->

      <a href="/profile/{{request.user.id}}/">
        <button><img src="/media/images/{{request.user.avatar}}/" style="width: 30px; border-radius: 50%;"><strong>{{request.user.username}}</strong></stron></button>
      </a>
      <a href="/uploads/"><button><strong>New Post</strong></button></a>
      <button><a href="/notification/"><strong>Notifications:{{notifs}} </strong></a></button>

      <a href="/users/">
        <button><strong>Search Users</strong></button>
      </a>
      <a href="/community/">
        <button><strong>Community</strong></button>
      </a>
    </div>

    <div class="Header__Right">
      <!-- Logout Button -->
      <a href="/logout/"><button>Logout</button></a>
    </div>
  </div>
  <div class="container">

    <div class="Feed">
      {% for post in posts %}
      <div class='Post'>
        <div class="Post__Header">
          <p>posted by <a href="/profile/{{post.author.id}}/">@{{post.author}}</a> on {{post.created_at}}</p>
          <img src="/media/{{post.image}}/" alt='post-img'  />
        </div>
        <div class="Post_Caption">
          <h2>{{post.caption}}</h2>
        </div>
        <div class="Post__Actions">
          <button><a href='/comment/{{post.id}}/add'> Comment Here </a></button>
          <link rel="stylesheet"href="{% static 'style.css'%}">

          <a href="/uploads-like/{{post.id}}/"><button>❤{%if post.likes.count > 0%}{{post.likes.count}}{%endif%}</button></a>
          <link rel="stylesheet"href="{% static 'style.css'%}">

        </div>
        {%if post.comments.count > 0%}
        <div class="Comment__Container">
          {% for comment in post.comments.all %}
          <div class="comments">
            <link rel="stylesheet"href="{% static 'style.css'%}">

            <div class="comment__deets">
            <div id="comment__user">
                <h4>Posted by: <img src="/media/images/{{comment.sender.avatar}}/" style="width: 25px; border-radius: 50%;"> {{comment.sender}} on {{comment.time}}</h4>
              </div>
            {%if request.user.id == post.author.id or request.user.id == comment.sender.id%}
            <a href="/comment/{{comment.id}}/remove/"><button class="delete">X</button></a>
         
            {%endif%}
          </div>
          <div class="comment__body">
          <p><strong>{{comment.body}}</strong></p>
          </div>
          
          </div>
          {% endfor %}
        </div>
        {%endif%}
      </div>
      {%endfor%}

      {%else%}
      
      
  <div class="video__container">
    <div id='wrapper'>
      <!-- <fieldset> -->
        <!-- <h2>Buttons!</h2> -->
        <a href="/login/" class='glowBtn'>Log In</a>
        <a href="/signup/" class='glowBtn hover'>Sign Up</a>
        <!-- <a class='glowBtn active'>Activate Homepage</a> -->
        <!-- </fieldset> -->
      </div>
    <video class="landingvideo"  autoPlay controls >
      <source src="/media/images/{{video}}" type="video/mp4">

    </video>
  </div>

  
 

    {%endif%}

</body>

</html>