<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/profile.css/">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="Header">
            <div class="Header__Left">
                <h3>DEV-Talk</h3>

                <img src="/media/images/{{owner.avatar}}" class="User_Ava">
               <div class="flex__hard">
                <span><strong> Welcome {{owner.username}}</strong></span>
                <span><strong>Follows: {{user.followers.count}}</strong></span>
                <span><strong>Following: {{user.following.count}}</strong></span>
            </div>
               </div>
            <div class="Header__Center">
                <!-- Nav Links -->
                <a href="/">
                    <button>Home</button>
                </a>
            
                {%if request.user.id == owner.id%}
                <a href="/profile/{{owner.id}}/update/">
                    <button>Edit Profile</button>
                </a>
                <a href="/uploads/">
                    <button>New Post</button>
                </a>
                {%endif%}
               
                {%if request.user.id != owner.id%}
                {%if request.user in owner.followers.all%}
                <button>
                    <a href="/unfollow/{{owner.id}}/">UnFollow</a>
                </button>
                {%else%}
                <button>
                    <a href="/follow/{{owner.id}}/">Follow</a>
                </button>
                {%endif%}
                {%endif%}

            </div>


            <div class="Header__Right">
                <!-- Logout Button -->
                <a href="/users/">
                    <button>
                        People
                    </button>
                </a>
                <a href="/community/">
                    <button>
                    Community
                    </button>
                </a>
                <a href="/logout/"><button>Logout</button></a>
            </div>
        </div>

        <div class="User__Info">
            <h2>{{owner.username}}</h2>
            <hr>
            <h4>{%if owner.bio%}Bio: {{owner.bio}}{%endif%}</h4>
            <h4>{%if owner.location%}Location: {{owner.location}} {%endif%}</h4>
            <div class="bio">

                <h4 >{%if owner.portfolio%} <a class="Link" href="{{owner.portfolio}}" target="blank">Portfolio</a>{{%endif%}</h4>
                <h4 >{%if owner.github%} <a class="Link" href='{{owner.github}}' target="blank"> Github</a>{%endif%}</h4>
                <h4 >{%if owner.linkedin%}<a class="Link" href="{{owner.linkedin}}" target='blank'>Linkedin</a>{%endif%}</h4>
            </div>
        </div>

        <div class='user__uploads'
        >
        {%for post in posts%}
        <div class="card" >
            <div class='card__img'>
                <img src='/media/{{post.image}}/'  style="width: 300px; height: 200px; border-radius: 30px;"/>
            </div>
            <div style="border-top: 1px solid white;">
               <h3> {{post.caption}}</h3>
            </div>
        </div>
        {%endfor%}
    </div>
    </div>
    
</body>

</html>